<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL" monitorInterval="30" >
 <Properties>
 <Property name="logDir">/var/log/james</Property>
 <Property name="logLayoutTomcat">%d{dd-MMM-yyyy HH:mm:ss.SSS} %level
[%t] %C.%M:%L - %msg%n</Property>
 <Property name="logLayoutJames">%d{yyyy-MM-dd HH:mm:ss.SSS Z} - %C [ip=
%X{ip}] - %msg%n</Property>
 </Properties>
 <Appenders>
 <Console name="Console" target="SYSTEM_OUT">
 <PatternLayout pattern="${logLayoutTomcat}" />
 </Console>
 <RollingFile name="James" fileName="${logDir}/james.log" filePattern="$
{logDir}/james.%d{yyyy-MM-dd}-%i.log.gz" ignoreExceptions="false">
 <PatternLayout pattern="${logLayoutJames}" charset="UTF-8" />
 <Policies>
 <SizeBasedTriggeringPolicy size="10 MB" />
 </Policies>
 <DefaultRolloverStrategy min="1" max="9" />
 </RollingFile>
 </Appenders>
 <Loggers>
 <Logger name="org.apache.james.protocols.smtp" level="info" >
 <AppenderRef ref="James" level="info" />
 </Logger>
 <Root level="info" >
 <AppenderRef ref="Console" level="info" />
 </Root>
 </Loggers>
</Configuration>
